@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    transition: background 0.3s ease-in-out;
    scroll-behavior: smooth;
    scrollbar-gutter: stable; 
    /* резервирует место для полосы прокрутки, даже если она не видна, предотвращая смещение макета при её появлении */
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: relative;
    background-image: url(./img/Layer\ 43@1\,5x.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 24px 120px;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

.tel {
    position: relative;
    bottom: -2.5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.line1, .line2, .line3 {
    border-radius: 25px;
    width: 27px;
    height: 4px;
    background-color: #FFF;
    transition: ease-in 0.35s;
}

.burger {
    background-color: transparent; /* фон полностью прозрачный */
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    transition: ease-in 0.2s;
    z-index: 2;
}

.burger.trans .line1 {
    transform: rotate(45deg) translate(6.5px, 5px);
}

.burger.trans .line3 {
    transform: rotate(-45deg) translate(6.2px, -5px);
}

.burger.trans .line2 {
    opacity: 0;
}

.header-title {
    position: absolute;
    bottom: 80px;
    margin-left: 20px;
    font-size: 80px;
    color: #FFF;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.header-title::before{
    content: '';
    height: 2px;
    width: 40px;
    border-radius: 2px;
    background-color: #FFF;
    position: absolute;
    top: -10px;
}

main {
    position: relative;
    padding: 104px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.startText {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.startText-title {
    width: 100%;
    font-size: 36px;
    color: #000;
    font-weight: 700;
    letter-spacing: -1.5px;
}

.startText-title span {
    color: blue;
}

.startText-text {
    color: #000;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.startText-text div {
    font-weight: 700;
    font-size: 20px;
    color: blue;
}

.gallery {
    display: flex;
    margin-top: 104px;
    justify-content: center;
}

.gallery-title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.gallery-title::after {
    content: url(./img/Icon-Corona-virus.png);
    position: relative;
    align-self: center;
    bottom: 10px;
    margin-bottom: 23px;
}

.photos-box {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.photos {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-weight: 700;
}

.photos-img {
    display: flex;
    gap: 24px;
}

.photos-img img {
    border-radius: 8px;
}

.onepic {
    width: 48vw;
    height: 21vw;
}

.twopic {
    width: 30vw;
    height: 21vw;
}

.threepic {
    width: 39vw;
    height: 21vw;
}

.photos span {
    color: blue;
}

.photos-btn {
    padding: 21px 46px;
    margin-top: 53px;
    margin-bottom: 104px;
    border: #0075FF 2px solid;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    color: #0075FF;
    font-weight: 700;
}

.testimonials-title{
    display: flex;
    justify-content: center;
}

.testimonials-title_text{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.testimonials-title_text::after{
    content: url(./img/Icon-Corona-virus.png);
    position: relative;
    align-self: center;
    bottom: 10px;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
}

.testimonial:nth-of-type(1), .testimonial:nth-of-type(3){
    width: 324px;
    height: 301px;
}

.testimonial:nth-of-type(2){
    width: 324px;
    height: 328px;
}

.testimonial-name {
    color: #0075FF;
    font-weight: 700;
    font-size: 24px;
    margin-top: 32px;
}

.testimonial-work {
    margin-top: 4px;
    color: #9FADC2;
    font-size: 14px;
    font-weight: 400;
}

.testimonial-text {
    text-align: center;
    margin-top: 4px;
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 400;
}

.testimonial-img {
    transition: transform 0.3s ease; 
}

.contacts-title_box {
    margin-top: 104px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.contacts-title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.contacts-title::after {
    content: url(./img/Icon-Corona-virus.png);
    position: relative;
    align-self: center;
    bottom: 10px;
}

.contacts {
    display: flex;
    gap: 60px;
    width: 100%;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.contacts-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-phone, .contacts-email {
    height: auto;
}

.contacts-phone_title, .contacts-email_title, .contacts-address_title {
    font-size: 14px;
    font-weight: 400;
    color: #9FADC2;
    margin-bottom: 8px;
}

.contacts-phone_number, .contacts-email_email, .contacts-adress_address {
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
}

.contacts-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-form input, .contacts-form textarea {
    font-size: 14px;
    border-radius: 8px;
    background-color: #F6F8FF;
    border: none;
    color: #000000;
    padding: 14px 17px 14px 17px;
    overflow-wrap: break-word;
    font: inherit;
}


.contacts-form textarea{
    height: 144px;
    resize: none; 
}

.contacts-form input:focus, .contacts-form textarea:focus{
    outline: 2px solid #0075FF;
}

.contacts-form input:nth-of-type(3){
    padding: 14px 17px 110px 17px;
    margin-bottom: 16px;
}

.form-btn {
    margin-top: 16px;
    background-color: #0075FF;
    color: #FFFFFF;
    border: none;
    padding: 21px 104px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0px 13px 27px 0px #0053B575;
    width: 100%;
    align-self: center;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
    background-image: url(./img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer img {
    position: absolute;
    bottom: 32px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
    opacity: 0;       
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.back-to-top.is-visible {
    opacity: 1;         
    visibility: visible; 
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: fit-content;
}

li:hover:not(li:nth-of-type(5), li:nth-of-type(6)) {
    text-decoration: underline;
    cursor: pointer;
}

li:last-child {
    position: relative;
}

li:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #FFF;
    width: 100%;
    height: 2px;
}

.burger-menu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0075FF;
    z-index: 2;
    padding: 152px 0 0 200px;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.burger-menu ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.burger-menu li {
    font-weight: 700;
    font-size: 22px;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.burger-menu li:nth-of-type(5){
    margin-top: 50px;
    position: relative;
    top: 16px;
}

.burger-menu.trans {
    visibility: visible;
    opacity: 1;
}

.icon {
    z-index: 2;
}

.testimonial.two {
    position: relative;
    top: 10px;
}

.modal {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    gap: 30px;
    background-color: #0075FF;
    border-radius: 30px;
    width: 400px;     
    height: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
    box-shadow: 0px 0px 90px 15px rgba(0,0,0,0.45);
}

.modal-content_btn {
    background-color: #ffffff;
    color: #0075FF;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
}


html::before {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;


    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

html.show::before {
    visibility: visible;
    opacity: 100;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.img-btn {
    display: none;
}

.photo-btn {
    display: none;
}

.hide {
    display: none;
}






/* Адаптив */
@media (max-width: 1300px){
    main {
        padding: 104px 150px;
    }
}

@media (max-width: 1160px){
    main {
        padding: 104px 100px;
    }
    .testimonials {
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    .tel:hover {
        transform:translateY(-3px);
    }
    .burger.trans:hover {
        transform: rotateZ(-90deg);
    }
    .burger:hover .line1.trans {
        width: 20px;
    }
    .burger:hover .line3.trans {
        width: 15px;
    }
    .photos-btn:hover {
        color: #FFF;
        background-color: #005ECC;
        box-shadow: 0px 13px 27px 0px #0053B575;
        transition: ease-in 0.15s;
    }
    .testimonial-img:hover {
        transform:translateY(-7px);
    }
    .contacts-form input:hover, .contacts-form textarea:hover{
        outline: 2px solid #CCD0E0;
    }
    .form-btn:hover {
        background-color: #005ECC;
        transition: ease-in 0.15s;
    }
    .back-to-top:hover {
        background-color: #545353;
    }
    .modal-content_btn:hover{
        background-color: #eee6e6;
    }
    .contacts-form input:focus, .contacts-form textarea:focus{
        outline: 2px solid #0075FF;
    }
}
@media (max-width: 1024px){
    .photos img {
        border-radius: 10px;
    }
    header {
        padding: 24px 60px;
    }
    .header-title {
        font-size: 60px;
    }
    .header-title::before{
        width: 30px;
    }
    .burger-menu {
        padding: 152px 0 0 150px;
    }
    .photos-btn:active {
        color: #FFF;
        background-color: #005ECC;
        box-shadow: 0px 13px 27px 0px #0053B575;
        transition: ease-in-out 0.1s;
    }
    .form-btn:active {
        background-color: #005ECC;
        transition: ease-in-out 0.1s;
    }
}
@media (max-width: 830px){
    .modal-content {
        padding: 20px;
        gap: 10px;
        width: 350px;     
        height: 250px;
    }
    .modal-content img {
        width: 125px;
    }
    .startText {
        flex-direction: column;
    }
}
@media (max-width: 760px){
    .header-title{
        font-size: 50px;
    }
    .burger-menu {
        padding: 152px 0 0 80px;
    }
    .startText-title {
        font-size: 36px;
        letter-spacing: -1.5px;
        vertical-align: middle;
    }
    .startText-text {
        font-size: 16px;
    }
    .onepic, .twopic, .threepic {
        width: 35vw;
        height: 35vw;
        object-fit: cover;
    }
    
    .testimonial-divider, .contacts {
        flex-direction: column;
    }
}
@media (max-width: 600px){
    .back-to-top {
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 550px){
    header {
        padding: 24px 30px;
    }
    .burger-menu {
        padding: 152px 0 0 50px;
    }
    .burger-menu li {
        font-size: 20px;
    }
}
@media (max-width: 500px){
    .modal-content {
        font-size: 20px;
        padding: 10px;
        gap: 5px;
        width: 320px;     
        height: 220px;
    }
    .modal-content_btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    .modal-content img {
        width: 120px;
    }
    main {
        padding: 104px 70px;
    }
    .form-btn {
        padding: 21px 20px;
    }
    .contacts-form input, textarea {
        font-size: 8px;
        border-radius: 8px;
        background-color: #F6F8FF;
        border: none;
        color: #000000;
        padding: 10px 13px;
        overflow-wrap: break-word;
        font: inherit;
    }
    .contacts-form textarea{
        height: 80px;
        resize: none;
    }
}
@media (max-width: 400px){
    .header-title{
        font-size: 40px;
    }
    header {
        padding: 24px 15px;
    }
    .burger-menu {
        padding: 152px 0 0 40px;
    }
    .burger-menu li {
        font-size: 18px;
    }
    .startText-title{
        font-size: 25px;
        letter-spacing: -1.5px;
    }
    .startText-text {
        font-size: 13px;
    }
    .photos-btn {
        width: 100%;
    }

}
